@keyframes env-front-appear {
  0% {
    right: -35%;
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 100%; }
  95% {
    opacity: 100%; }
  100% {
    right: 35%;
    opacity: 0; } }
@keyframes env-disappear {
  0% {
    opacity: 100%; }
  100% {
    opacity: 0; } }
@keyframes env-appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
@keyframes env-rotate-back {
  0% {
    transform: rotate3d(0, 0, 1, 5deg); }
  100% {
    transform: rotate3d(0, 1, 0, 92deg); } }
@keyframes env-rotate-front {
  0% {
    transform: rotate3d(0, 1, 0, 92deg);
    right: 50%; }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
    right: 33%; } }
@keyframes put-aside {
  0% {
    transform: rotate(0deg);
    right: 25%; }
  100% {
    transform: rotate(85deg);
    right: 35%; } }
@keyframes card-advance {
  0% {
    top: -70px;
    transform: rotate(-90deg); }
  50% {
    top: -470px;
    transform: rotate(-86deg); }
  100% {
    top: -70px;
    transform: rotate(-86deg);
    z-index: 1; } }
@keyframes card-rotate {
  0% {
    transform: rotate(-86deg) rotateY(0deg); }
  100% {
    transform: rotate(-86deg) rotateY(180deg); } }
@keyframes card-back-rotate {
  0% {
    transform: rotate(-86deg) rotateY(180deg); }
  100% {
    transform: rotate(-86deg) rotateY(0deg); } }
@-webkit-keyframes env-front-appear {
  0% {
    right: -35%;
    opacity: 0; }
  30% {
    right: -35%;
    opacity: 0; }
  40% {
    right: -35%;
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    right: 35%;
    opacity: 0; } }
@-webkit-keyframes env-disappear {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-webkit-keyframes env-appear {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes env-rotate-back {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 92deg); } }
@-webkit-keyframes env-rotate-front {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 92deg);
    right: 50%; }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    right: 33%; } }
@-webkit-keyframes put-aside {
  0% {
    -webkit-transform: rotate(0deg);
    right: 25%; }
  100% {
    -webkit-transform: rotate(85deg);
    right: 35%; } }
@-webkit-keyframes card-advance {
  0% {
    top: -70px;
    transform: rotate(-90deg); }
  50% {
    top: -490px;
    transform: rotate(-86deg); }
  100% {
    top: -70px;
    transform: rotate(-86deg);
    z-index: 1; } }
@-webkit-keyframes card-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(0deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(180deg); } }
@-webkit-keyframes card-back-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(180deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(0deg); } }
* {
  padding: 0;
  margin: 0; }

.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 950px;
  overflow: hidden; }

.envelope-back {
  position: absolute;
  height: 717px;
  width: 769px;
  top: 25%;
  right: 25%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: env-appear .5s 1.1s forwards, env-rotate-front .5s 1.1s forwards, put-aside .5s 2.1s forwards;
  animation: put-aside .5s 2.1s forwards; }
  .envelope-back .cover-back {
    position: absolute;
    height: 460px;
    width: 658px; }
  .envelope-back .cover-top {
    position: absolute;
    top: 0;
    height: 290px;
    width: 658px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation: env-disappear 1.2s 2.1s forwards;
    animation: env-disappear 1.2s 2.1s forwards; }
  .envelope-back .backwall-env {
    position: absolute;
    opacity: 0;
    top: -290px;
    height: 715px;
    width: 658px;
    -webkit-animation: env-appear .7s 1.9s forwards;
    animation: env-appear .7s 1.9s forwards; }
  .envelope-back .card {
    position: absolute;
    width: 395px;
    height: 570px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: -70px;
    left: 150px;
    -webkit-animation: card-advance 1.5s 2.8s forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .envelope-back .card .card-front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      z-index: 2;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-animation: flipOutY 1s 4.5s forwards, flipInY 1s 7s forwards; }
    .envelope-back .card .card-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }

/*# sourceMappingURL=style.css.map */
