@keyframes env-front-appear {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 100%; }
  95% {
    opacity: 100%; }
  100% {
    opacity: 0; } }
@keyframes env-disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes env-appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes env-rotate-back {
  0% {
    transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    transform: rotate3d(0, 1, 0, 90deg); } }
@keyframes env-rotate-front {
  0% {
    transform: rotate3d(0, 1, 0, 90deg);
    right: 50%; }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
    right: 33%; } }
@keyframes put-aside {
  0% {
    transform: rotate(0deg);
    right: 25%; }
  100% {
    transform: rotate(90deg);
    right: 35%; } }
@keyframes card-advance {
  0% {
    top: -85px;
    left: 125px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  50% {
    top: -470px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  100% {
    top: -40px;
    left: 180px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 1; } }
@keyframes card-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(0deg);
    transform: rotate(-86deg) rotateY(0deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(180deg);
    transform: rotate(-86deg) rotateY(180deg); } }
@keyframes card-back-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(180deg);
    transform: rotate(-86deg) rotateY(180deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(0deg);
    transform: rotate(-86deg) rotateY(0deg); } }
@keyframes back-flip {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
@-webkit-keyframes env-front-appear {
  0% {
    right: -35%;
    opacity: 0; }
  30% {
    right: -35%;
    opacity: 0; }
  40% {
    right: -35%;
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    right: 35%;
    opacity: 0; } }
@-webkit-keyframes env-disappear {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-webkit-keyframes env-appear {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes env-rotate-back {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg); } }
@-webkit-keyframes env-rotate-front {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    right: 50%; }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    right: 33%; } }
@-webkit-keyframes put-aside {
  0% {
    -webkit-transform: rotate(0deg);
    right: 25%; }
  100% {
    -webkit-transform: rotate(90deg);
    right: 35%; } }
@-webkit-keyframes card-advance {
  0% {
    top: -85px;
    left: 125px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  50% {
    top: -470px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  100% {
    top: -40px;
    left: 180px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 1; } }
@-webkit-keyframes card-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(0deg);
    transform: rotate(-86deg) rotateY(0deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(180deg);
    transform: rotate(-86deg) rotateY(180deg); } }
@-webkit-keyframes card-back-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(180deg);
    transform: rotate(-86deg) rotateY(180deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(0deg);
    transform: rotate(-86deg) rotateY(0deg); } }
@-webkit-keyframes back-flip {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
* {
  padding: 0;
  margin: 0; }

.main-container {
  opacity: 0;
  margin: 5% auto 0;
  width: 700px;
  height: 550px;
  position: relative;
  perspective: 950px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .main-container {
      height: 270px;
      width: 320px; } }

.envelope {
  position: absolute;
  right: 18%;
  top: 20%;
  height: 309px;
  width: 480px; }

.envelope-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .envelope-front .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .envelope-front .image {
        height: 155px;
        width: 240px; } }
  .envelope-front p {
    font-size: 45px;
    text-align: center;
    padding-top: 30%; }
    @media screen and (max-width: 768px) {
      .envelope-front p {
        font-size: 25px;
        padding-top: 25%; } }
  @media screen and (max-width: 768px) {
    .envelope-front {
      right: 11%; } }
  @media screen and (max-width: 350px) {
    .envelope-front {
      top: 20%;
      right: 2%; } }

.envelope-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: rotateY(-90deg); }
  @media screen and (max-width: 768px) {
    .envelope-back {
      right: 11%;
      height: 273px;
      width: 240px; } }
  @media screen and (max-width: 350px) {
    .envelope-back {
      top: 20%;
      right: 2%; } }
  .envelope-back .cover-back {
    position: absolute;
    height: 350px;
    width: 480px; }
    @media screen and (max-width: 768px) {
      .envelope-back .cover-back {
        height: 175px;
        width: 240px; } }
  .envelope-back .cover-top {
    position: absolute;
    top: 0;
    height: 214px;
    width: 480px; }
    @media screen and (max-width: 768px) {
      .envelope-back .cover-top {
        height: 107px;
        width: 240px; } }
  .envelope-back .backwall-env {
    position: absolute;
    opacity: 0;
    top: -215px;
    height: 520px;
    width: 500px; }
    @media screen and (max-width: 768px) {
      .envelope-back .backwall-env {
        top: -105px;
        height: 259px;
        width: 250px; } }
  .envelope-back #card {
    position: absolute;
    height: 413px;
    width: 295px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: -55px;
    left: 95px;
    perspective: 1140px; }
    @media screen and (max-width: 768px) {
      .envelope-back #card {
        top: -27px;
        left: 47px;
        height: 207px;
        width: 148px; } }
    .envelope-back #card .card-front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    .envelope-back #card .card-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: rotateY(-90deg);
      transform: rotateY(-90deg); }

/*# sourceMappingURL=style.css.map */
