@import 'animations';

*{
  padding: 0;
  margin: 0;
}
.main-container {
  opacity: 0;
  margin: 5% auto 0;
  width: 700px;
  height: 550px;
  position: relative;
  perspective: 950px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    height: 270px;
    width: 320px;
  }
}
.envelope {
  position: absolute;
  right: 18%;
  top: 20%;
  height: 309px;
  width: 480px;
}
.envelope-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //-webkit-animation: env-disappear .7s 1s forwards,
  //env-rotate-back 1.2s 1s forwards;
  //animation: env-disappear 1s 1s forwards,
  //env-rotate-back 1.5s 1s forwards;
  .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 768px) {
      height: 155px;
      width: 240px;
    }
  }

  p {
    font-size: 45px;
    text-align: center;
    padding-top: 30%;
    @media screen and (max-width: 768px) {
      font-size: 25px;
      padding-top: 25%;
    }
  }
  @media screen and (max-width: 768px) {
    right: 11%;
  }
  @media screen and (max-width: 350px) {
    top: 20%;
    right: 2%;
  }
}


.envelope-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: rotateY(-90deg);
  //-webkit-transform-origin: center center;
  //transform-origin: center center;
  //-webkit-animation: env-appear 1s 1.2s forwards,
  //env-rotate-front 1s 1.2s forwards,
  //put-aside 1s 2.6s forwards;
  //animation: env-appear 1s 1.2s forwards,
  //env-rotate-front 1.5s 1s forwards,
  //put-aside 1s 2.6s forwards;
  //@media screen and (max-width: 1200px) {
  //  right: 21%;
  //  top: 15%;
  //}
  //@media screen and (max-width: 990px) {
  //  height: 574px;
  //  width: 505px;
  //}
  @media screen and (max-width: 768px) {
    right: 11%;
    height: 273px;
    width: 240px;
  }
  @media screen and (max-width: 350px) {
    top: 20%;
    right: 2%;
  }
  .cover-back {
    position: absolute;
    height: 350px;
    width: 480px;
    @media screen and (max-width: 768px) {
      height: 175px;
      width: 240px;
    }
  }

  .cover-top {
    position: absolute;
    top: 0;
    height: 214px;
    width: 480px;
    //-webkit-transform: rotate(-180deg);
    //transform: rotate(-180deg);
    //-webkit-animation: env-disappear 1s 3s forwards;
    //animation: env-disappear 1s 3s forwards;
    @media screen and (max-width: 768px) {
      height: 107px;
      width: 240px;
    }
  }

  .backwall-env {
    position: absolute;
    opacity: 0;
    top:-215px;
    height: 520px;
    width: 500px;
    //-webkit-animation: env-appear 1.5s 3s forwards;
    //animation: env-appear 1.5s 3s forwards;
    @media screen and (max-width: 768px) {
      top: -105px;
      height: 259px;
      width: 250px;
    }
  }

  #card {
    position: absolute;
    height: 413px;
    width: 295px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: -55px;
    left: 95px;
    perspective: 1140px;
    //-webkit-animation: card-advance 1.5s 4s forwards;
    //animation: card-advance 1.5s 4s forwards;
    @media screen and (max-width: 768px) {
      top: -27px;
      left: 47px;
      height: 207px;
      width: 148px;
    }
    .card-front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //backface-visibility: hidden;

      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      //-webkit-animation: flipOutY 1s 6s forwards, env-appear 1s 8s forwards, back-flip 1s 8.1s forwards;
      //animation: flipOutY 1s 6s forwards, env-appear 1s 8s forwards, back-flip 1s 8.1s forwards;
    }

    .card-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //backface-visibility: hidden;
      //
      -webkit-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
      //animation: flipInY .2s 5s forwards, flipOutY .6s 6.1s forwards;
      //animation: flipOutY .6s 6.5s forwards;
      //animation: flip .5s 3s;
    }
  }
}
