@keyframes env-front-appear {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 100%; }
  95% {
    opacity: 100%; }
  100% {
    opacity: 0; } }
@keyframes env-disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes env-appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes env-rotate-back {
  0% {
    transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    transform: rotate3d(0, 1, 0, 90deg); } }
@keyframes env-rotate-front {
  0% {
    transform: rotate3d(0, 1, 0, 90deg);
    right: 50%; }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
    right: 33%; } }
@keyframes put-aside {
  0% {
    transform: rotate(0deg);
    right: 25%; }
  100% {
    transform: rotate(90deg);
    right: 35%; } }
@keyframes card-advance {
  0% {
    top: -85px;
    left: 125px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  50% {
    top: -470px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  100% {
    top: -40px;
    left: 180px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 1; } }
@keyframes card-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(0deg);
    transform: rotate(-86deg) rotateY(0deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(180deg);
    transform: rotate(-86deg) rotateY(180deg); } }
@keyframes card-back-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(180deg);
    transform: rotate(-86deg) rotateY(180deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(0deg);
    transform: rotate(-86deg) rotateY(0deg); } }
@keyframes back-flip {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
@-webkit-keyframes env-front-appear {
  0% {
    right: -35%;
    opacity: 0; }
  30% {
    right: -35%;
    opacity: 0; }
  40% {
    right: -35%;
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    right: 35%;
    opacity: 0; } }
@-webkit-keyframes env-disappear {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-webkit-keyframes env-appear {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes env-rotate-back {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg); } }
@-webkit-keyframes env-rotate-front {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    right: 50%; }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    right: 33%; } }
@-webkit-keyframes put-aside {
  0% {
    -webkit-transform: rotate(0deg);
    right: 25%; }
  100% {
    -webkit-transform: rotate(90deg);
    right: 35%; } }
@-webkit-keyframes card-advance {
  0% {
    top: -85px;
    left: 125px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  50% {
    top: -470px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  100% {
    top: -40px;
    left: 180px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 1; } }
@-webkit-keyframes card-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(0deg);
    transform: rotate(-86deg) rotateY(0deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(180deg);
    transform: rotate(-86deg) rotateY(180deg); } }
@-webkit-keyframes card-back-rotate {
  0% {
    -webkit-transform: rotate(-86deg) rotateY(180deg);
    transform: rotate(-86deg) rotateY(180deg); }
  100% {
    -webkit-transform: rotate(-86deg) rotateY(0deg);
    transform: rotate(-86deg) rotateY(0deg); } }
@-webkit-keyframes back-flip {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
* {
  padding: 0;
  margin: 0; }

.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 950px;
  overflow: hidden; }

.envelope-front {
  position: absolute;
  right: 33%;
  top: 25%; }
  .envelope-front .image {
    height: 406px;
    width: 630px; }
  .envelope-front p {
    font-size: 45px;
    text-align: center;
    padding-top: 30%; }
  @media screen and (max-width: 1600px) {
    .envelope-front {
      right: 27%; } }
  @media screen and (max-width: 1200px) {
    .envelope-front {
      right: 21%;
      top: 15%; } }
  @media screen and (max-width: 990px) {
    .envelope-front .image {
      height: 325px;
      width: 505px; } }

.envelope-back {
  position: absolute;
  height: 717px;
  width: 630px;
  opacity: 0;
  top: 25%;
  right: 33%;
  transform: rotateY(-90deg); }
  @media screen and (max-width: 1600px) {
    .envelope-back {
      right: 27%; } }
  @media screen and (max-width: 1200px) {
    .envelope-back {
      right: 21%;
      top: 15%; } }
  @media screen and (max-width: 990px) {
    .envelope-back {
      height: 574px;
      width: 505px; } }
  .envelope-back .cover-back {
    position: absolute;
    height: 460px;
    width: 630px; }
    @media screen and (max-width: 990px) {
      .envelope-back .cover-back {
        height: 368px;
        width: 505px; } }
  .envelope-back .cover-top {
    position: absolute;
    top: 0;
    height: 280px;
    width: 630px; }
    @media screen and (max-width: 990px) {
      .envelope-back .cover-top {
        height: 225px;
        width: 505px; } }
  .envelope-back .backwall-env {
    position: absolute;
    opacity: 0;
    top: -290px;
    height: 680px;
    width: 658px; }
    @media screen and (max-width: 990px) {
      .envelope-back .backwall-env {
        top: -220px;
        height: 544px;
        width: 526px; } }
  .envelope-back #card {
    position: absolute;
    height: 570px;
    width: 395px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: -85px;
    left: 125px;
    perspective: 1140px; }
    @media screen and (max-width: 990px) {
      .envelope-back #card {
        height: 456px;
        width: 316px;
        top: -67px;
        left: 95px; } }
    .envelope-back #card .card-front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    .envelope-back #card .card-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: rotateY(-90deg);
      transform: rotateY(-90deg); }

/*# sourceMappingURL=style.css.map */
